<div class="card">
  <div class="details">
    <div class="rarity {{ include.rarity }}">Rarity: {{ include.rarity }}</div>
    <div class="status">Status: {{ include.status }}</div>
  </div>
  <hr />
  <div class="rare-image">
    <figure>
      <a href="cards/{{ include.rare }}.png">
        <img src="cards/{{ include.rare }}.png" />
      </a>
      <figcaption class="text">More difficult to find.</figcaption>
    </figure>
  </div>
  <div class="normal-image">
    <figure>
      <a href="cards/{{ include.normal }}.png">
        <img src="cards/{{ include.normal }}.png" />
      </a>
      <figcaption class="text" align="center">More common to find.</figcaption>
    </figure>
  </div>
</div>